.nav__logo{
    width: 50px;
    height: 100%;
}


/* Small devices */
@media (min-width: 576px) {
}


/* Medium devices */
@media (min-width: 768px) {

}


/* Large devices */
@media (min-width: 992px) {
    .nav__logo{
        width: 100px;
    }
}

